﻿
<div data-ng-controller="minisSandwichMenuController" class="container">
    <div class="row">
        <div class="col-md-12">
            <strong class="error">{{ error }}</strong>
            <p data-ng-hide="addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Add New</a></p>
            <form name="addMenu" data-ng-show="addMode" style="width:600px;margin:0px auto;">
                <div class="form-group">
                    <label for="cname" class="col-sm-2 control-label">Sandwich:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="quantity" data-ng-model="sandwichMenu.idMinisSandwich" data-ng-options="item.sandwichId as item.sandwichName for item in Sandwich" ng-required="true" ng-change="selectHours()"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">Ingrediente:</label>
                    <div class="col-sm-10">
                        <select class="form-control"  id="quantity" data-ng-model="sandwichMenu.idMinisIngredients" data-ng-options="item.ingredientId as item.ingredientId for item in Ingredient" ng-required="true" ng-change="selectHours()"></select>
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Add" data-ng-click="guardaMenu(menu)" data-ng-disabled="!addIngredient.$valid" class="btn btn-primary" />
                        <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary" />
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="width:800px">
                    <tr>
                        <td>#</td>
                        <td>Sandwich</td>
                        <th>Ingredient</th>
                        <th>Cost</th>
                    </tr>
                    <tr data-ng-repeat="menu in allObjects">
                        <td><strong data-ng-hide="customer.editMode">{{ menu.Id }}</strong></td>
                        <td>
                            <p data-ng-hide="customer.editMode">{{ menu.sandwichName }}</p>
                            <input data-ng-show="customer.editMode" type="text" data-ng-model="customer.Name" />
                        </td>
                        <td>
                            <p data-ng-hide="customer.editMode">{{ menu.ingredientName }}</p>
                            <input data-ng-show="customer.editMode" type="text" data-ng-model="customer.Address" />
                        </td>
                        <td>
                            <p data-ng-hide="customer.editMode">{{ menu.sandwichCost }}</p>
                            <input data-ng-show="customer.editMode" type="text" data-ng-model="customer.City" />
                        </td>
                        <td>
                            <p data-ng-hide="customer.editMode"><a data-ng-click="toggleEdit(customer)" href="javascript:;">Edit</a> | <a data-ng-click="deletecustomer(customer)" href="javascript:;">Delete</a></p>
                            <p data-ng-show="customer.editMode"><a data-ng-click="save(customer)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit(customer)" href="javascript:;">Cancel</a></p>
                        </td>
                    </tr>
                </table>
                <hr />
            </div>
        </div>
    </div>
    <div id="mydiv" data-ng-show="loading">
        <img src="Images/ajax-loader.gif" class="ajax-loader" />
    </div>
</div>
