﻿
    <div data-ng-controller="minisSandwichesController" class="container">
        <div class="row">
            <div class="col-md-12">
                <strong class="error">{{ error }}</strong>
                <p data-ng-hide="addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Add New</a></p>
                <form name="addSandwich" data-ng-show="addMode" style="width:600px;margin:0px auto;">
                    <div class="form-group">
                        <label for="cid" class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sandwichName" placeholder="name of sandwich" data-ng-model="sandwich.sandwichName" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cname" class="col-sm-2 control-label">Cut:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sandwichCut" placeholder="cut of sandwich" data-ng-model="sandwich.sandwichCut" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">Salsa:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sandwichSalsa" placeholder="Salsa of Sandwich" data-ng-model="sandwich.sandwichSalsa" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-sm-2 control-label">Type:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Type" placeholder="Type of Sandwich" data-ng-model="sandwich.sandwichType" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country" class="col-sm-2 control-label">Cost:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sandwichCost" placeholder="Cost of Sandwich" data-ng-model="sandwich.sandwichCost" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age" class="col-sm-2 control-label">Compress:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="isCompress" placeholder="Compress Sandwich?" data-ng-model="sandwich.isCompress" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age" class="col-sm-2 control-label">Avaiable:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="isAvaiable" placeholder="Is Sandwich Avaiable?" data-ng-model="sandwich.isAvaiable" required />
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" value="Add" data-ng-click="guardaSandwich(sandwich)" data-ng-disabled="!addSandwich.$valid" class="btn btn-primary" />
                            <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary" />
                        </div>
                    </div>
                    <br />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" style="width:800px">
                        <tr>
                            <td>#</td>
                            <td>Name</td>
                            <th>Type</th>
                            <th>Cut</th>
                            <th>Salsa</th>
                            <th>Compress</th>
                        </tr>
                        <tr data-ng-repeat="sandwich in allObjects">
                            <td><strong data-ng-hide="customer.editMode">{{ sandwich.sandwichId }}</strong></td>
                            <td>
                                <p data-ng-hide="customer.editMode">{{ sandwich.sandwichName }}</p>
                                <input data-ng-show="customer.editMode" type="text" data-ng-model="customer.Name" />
                            </td>
                            <td>
                                <p data-ng-hide="customer.editMode">{{ sandwich.sandwichType }}</p>
                                <input data-ng-show="customer.editMode" type="text" data-ng-model="customer.Address" />
                            </td>
                            <td>
                                <p data-ng-hide="customer.editMode">{{ sandwich.sandwichCut }}</p>
                                <input data-ng-show="customer.editMode" type="text" data-ng-model="customer.City" />
                            </td>
                            <td>
                                <p data-ng-hide="customer.editMode">{{ sandwich.sandwichSalsa }}</p>
                                <input data-ng-show="customer.editMode" type="text" data-ng-model="customer.Country" />
                            </td>
                            <td>
                                <p data-ng-hide="customer.editMode">{{ sandwich.isCompress }}</p>
                                <input data-ng-show="customer.editMode" type="text" data-ng-model="customer.Age" />
                            </td>
                            <td>
                                <p data-ng-hide="customer.editMode"><a data-ng-click="toggleEdit(customer)" href="javascript:;">Edit</a> | <a data-ng-click="deletecustomer(customer)" href="javascript:;">Delete</a></p>
                                <p data-ng-show="customer.editMode"><a data-ng-click="save(customer)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit(customer)" href="javascript:;">Cancel</a></p>
                            </td>
                        </tr>
                    </table>
                    <hr />
                </div>
            </div>
        </div>
        <div id="mydiv" data-ng-show="loading">
            <img src="Images/ajax-loader.gif" class="ajax-loader" />
        </div>
    </div>
